<div class="parent clearfix">
  <div class="bg-illustration"></div>

  <div class="login">
    <div class="container">
      <h1>Prijavite se da biste pristupili svom nalogu</h1>

      <div class="login-form">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
          <label for="korisnickoIme"><b>Korisničko ime:</b></label>
          <div>
            <input type="text" id="korisnickoIme" name="korisnickoIme" placeholder="korisnickoIme" class="form-control" formControlName="korisnickoIme"
                   [ngClass]="{ 'is-invalid': loginGroup['korisnickoIme'].touched && loginGroup['korisnickoIme'].errors}">
            <div *ngIf="loginGroup['korisnickoIme'].touched && loginGroup['korisnickoIme'].errors" class="invalid-feedback">
              <div *ngIf="loginGroup['korisnickoIme'].errors['required']">Korisničko ime nije uneto.</div>
            </div>
          </div>
          <label for="lozinka"><b>Lozinka:</b></label>
          <div>
            <input type="password" id="lozinka" name="lozinka" placeholder="lozinka" maxlength="30" class="form-control" formControlName="lozinka"
                   [ngClass]="{ 'is-invalid': loginGroup['lozinka'].touched && loginGroup['lozinka'].errors}">
            <div *ngIf="loginGroup['lozinka'].touched && loginGroup['lozinka'].errors" class="invalid-feedback">
              <div *ngIf="loginGroup['lozinka'].errors['required']">Lozinka nije uneta.</div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
